n8n/workflows/email-triage-personal-google.json
{
  "id": "5CDbP1b8NU15eZjd",
  "name": "Email Triage - Personal Google",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread",
          "includeSpamTrash": false
        }
      },
      "id": "gmail-trigger",
      "name": "New Email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "2jEoeJbyCeSZD86x",
          "name": "josh@joshsymonds.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract and normalize email metadata from Gmail Trigger non-simple output.\n// Non-simple mode returns parsed email with: text, html, from (object), headers, etc.\n\nconst email = $input.first().json;\n\n// Non-simple mode returns structured from/to objects with .text or .value[].address\nconst fromObj = email.from || {};\nconst fromRaw = fromObj.text || fromObj.value?.[0]?.address || '';\nconst senderEmail = fromObj.value?.[0]?.address || fromRaw;\nconst senderName = fromObj.value?.[0]?.name || '';\n\nconst toObj = email.to || {};\nconst toRaw = toObj.text || toObj.value?.[0]?.address || '';\n\n// Non-simple mode provides full body text\nconst body = email.text || email.textPlain || email.snippet || '';\nconst html = email.html || email.textHtml || '';\n\n// All headers available in non-simple mode via headerLines or headers map\nconst headers = email.headers || {};\nconst listUnsubscribe = headers['list-unsubscribe'] || email['list-unsubscribe'] || '';\n\n// Calendar invite detection from MIME parts and content\nconst hasCalendarInvite = html.includes('text/calendar')\n  || body.toLowerCase().includes('invitation')\n  || (email.subject || '').toLowerCase().includes('invitation')\n  || (email.attachments || []).some(a => a.contentType === 'text/calendar');\n\nreturn [{\n  json: {\n    messageId: email.id,\n    threadId: email.threadId,\n    senderEmail,\n    senderName,\n    from: fromRaw,\n    to: toRaw,\n    subject: email.subject || '(no subject)',\n    date: email.date || new Date().toISOString(),\n    body: body.slice(0, 3000),\n    snippet: (email.snippet || body).slice(0, 300),\n    listUnsubscribe,\n    hasCalendarInvite,\n    labelIds: email.labelIds || []\n  }\n}];"
      },
      "id": "extract-metadata",
      "name": "Extract Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\n\n// Decode user bio from agenix-encrypted env var (base64 encoded to handle multi-line)\nconst userBioB64 = $env.USER_BIO || '';\nlet userBio = '(No bio configured)';\nif (userBioB64) {\n  try {\n    userBio = Buffer.from(userBioB64, 'base64').toString('utf8');\n  } catch (e) {\n    userBio = userBioB64; // Fall back to raw value if not base64\n  }\n}\n\nconst prompt = `You are an email triage assistant for the person described below. Categorize the following email into exactly ONE category.\n\n## Categories\n\n1. **URGENT** - Requires immediate attention:\n   - Direct messages from known contacts that are time-sensitive\n   - Alerts about systems/services the recipient relies on\n   - Deadlines within 24 hours\n   - Personal or emotional messages that seem genuine and important\n   - Messages from unknown senders that appear authentic and personally directed (NOT sales)\n\n2. **ACTION_REQUIRED** - Needs a response or action, but not immediately:\n   - Requests for input, review, or approval\n   - Questions needing answers\n   - Bills, receipts, or financial items needing attention\n   - Invitations requiring a response (not calendar invites)\n\n3. **CALENDAR** - Contains a calendar invitation or meeting scheduling:\n   - Calendar .ics invites\n   - Meeting requests\n   - \\\"Can you meet at...\\\" type messages\n\n4. **LOW_PRIORITY** - Informational only, no action needed:\n   - Newsletters the recipient subscribed to\n   - Service update notifications\n   - FYI or CC'd emails\n   - Receipts for automatic payments\n   - Social media notifications\n\n5. **SPAM** - Unsolicited marketing, sales outreach, or junk:\n   - Cold outreach from salespeople\n   - Marketing emails not signed up for\n   - SEO/marketing service offers\n   - Clearly automated promotional content\n   - \\\"Grow your business!\\\" type emails\n\n## About the Recipient\n${userBio}\n\n## Email to Categorize\n- From: ${email.from}\n- To: ${email.to}\n- Subject: ${email.subject}\n- Date: ${email.date}\n- Has calendar invite indicators: ${email.hasCalendarInvite}\n- Has List-Unsubscribe header: ${email.listUnsubscribe ? 'yes' : 'no'}\n\nBody:\n${email.body}\n\n## Important Rules\n- When uncertain about an unknown sender, classify as URGENT rather than LOW_PRIORITY or SPAM. It is better to notify about a false alarm than to miss a genuine message.\n- Personal-sounding emails from unknown senders should lean URGENT if they seem authentic.\n- Marketing disguised as personal outreach (e.g., \\\"I've been following your work...\\\") is SPAM.\n- If List-Unsubscribe header is present, the email is almost certainly a newsletter or marketing.\n- Emails CC'ing the recipient (not direct To:) lean toward LOW_PRIORITY unless content is clearly urgent.\n\nRespond in JSON only, no other text:\n{\n  \\\"category\\\": \\\"URGENT\\\" | \\\"ACTION_REQUIRED\\\" | \\\"CALENDAR\\\" | \\\"LOW_PRIORITY\\\" | \\\"SPAM\\\",\n  \\\"reasoning\\\": \\\"one sentence explanation\\\",\n  \\\"confidence\\\": \\\"high\\\" | \\\"medium\\\" | \\\"low\\\"\n}`;\n\nreturn [{ json: { ...email, prompt } }];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": { "__rl": true, "mode": "id", "value": "claude-haiku-4-5-20251001" },
        "messages": {
          "values": [
            { "content": "={{ $json.prompt }}", "role": "user" }
          ]
        },
        "simplify": false,
        "options": {
          "maxTokens": 256
        }
      },
      "id": "claude-categorize",
      "name": "Claude Categorize",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [750, 0],
      "credentials": {
        "anthropicApi": {
          "id": "rGTzFgsM74iw9kiW",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst email = $('Extract Metadata').first().json;\n\ntry {\n  const text = response.content[0].text;\n  // Extract JSON from response (handle markdown code blocks)\n  let jsonStr = text;\n  const jsonMatch = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    jsonStr = jsonMatch[1];\n  }\n\n  const result = JSON.parse(jsonStr.trim());\n  const category = (result.category || '').toUpperCase();\n  const validCategories = ['URGENT', 'ACTION_REQUIRED', 'CALENDAR', 'LOW_PRIORITY', 'SPAM'];\n\n  if (!validCategories.includes(category)) {\n    throw new Error(`Invalid category: ${category}`);\n  }\n\n  return [{\n    json: {\n      ...email,\n      category,\n      reasoning: result.reasoning || '',\n      confidence: result.confidence || 'medium',\n      success: true\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      ...email,\n      category: 'ERROR',\n      reasoning: error.message,\n      confidence: 'none',\n      success: false\n    }\n  }];\n}"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "version": 2, "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "URGENT",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Urgent"
            },
            {
              "conditions": {
                "options": { "version": 2, "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "ACTION_REQUIRED",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Action Required"
            },
            {
              "conditions": {
                "options": { "version": 2, "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "CALENDAR",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Calendar"
            },
            {
              "conditions": {
                "options": { "version": 2, "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "LOW_PRIORITY",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low Priority"
            },
            {
              "conditions": {
                "options": { "version": 2, "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "SPAM",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Spam"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-category",
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1250, 0]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": ["STARRED"]
      },
      "id": "star-email",
      "name": "Star Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1500, -240],
      "credentials": {
        "gmailOAuth2": {
          "id": "2jEoeJbyCeSZD86x",
          "name": "josh@joshsymonds.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/n8n",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $env.NTFY_AUTH }}" },
            { "name": "Content-Type", "value": "text/plain" },
            { "name": "Title", "value": "={{ $('Extract Metadata').first().json.subject }}" },
            { "name": "Priority", "value": "high" },
            { "name": "Tags", "value": "rotating_light" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=From: {{ $('Extract Metadata').first().json.from }}\n{{ $('Parse Response').first().json.reasoning }}",
        "options": {}
      },
      "id": "notify-urgent",
      "name": "Notify Urgent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, -240]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "content": "=Email: {{ $json.subject }}",
        "project": {
          "__rl": true,
          "mode": "id",
          "value": "6Wx6X8FJCCG3jpWM"
        },
        "options": {
          "description": "=From: {{ $json.from }}\nDate: {{ $json.date }}\n\n{{ $json.reasoning }}",
          "priority": 2
        }
      },
      "id": "create-todoist-task",
      "name": "Create Todoist Task",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [1500, -120],
      "credentials": {
        "todoistApi": {
          "id": "I9cqpNBkcUAjK2wQ",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/n8n",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $env.NTFY_AUTH }}" },
            { "name": "Content-Type", "value": "text/plain" },
            { "name": "Title", "value": "=Calendar: {{ $json.subject }}" },
            { "name": "Priority", "value": "default" },
            { "name": "Tags", "value": "calendar" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=From: {{ $json.from }}\n{{ $json.reasoning }}",
        "options": {}
      },
      "id": "notify-calendar",
      "name": "Notify Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 0]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "removeLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": ["INBOX"]
      },
      "id": "archive-low-priority",
      "name": "Archive Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1500, 120],
      "credentials": {
        "gmailOAuth2": {
          "id": "2jEoeJbyCeSZD86x",
          "name": "josh@joshsymonds.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "removeLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": ["INBOX"]
      },
      "id": "archive-spam",
      "name": "Archive Spam",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1500, 240],
      "credentials": {
        "gmailOAuth2": {
          "id": "2jEoeJbyCeSZD86x",
          "name": "josh@joshsymonds.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/n8n",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $env.NTFY_AUTH }}" },
            { "name": "Content-Type", "value": "text/plain" },
            { "name": "Title", "value": "Email triage error" },
            { "name": "Priority", "value": "high" },
            { "name": "Tags", "value": "warning" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=Failed to categorize email from {{ $json.from }}\nSubject: {{ $json.subject }}\nError: {{ $json.reasoning }}",
        "options": {}
      },
      "id": "notify-error",
      "name": "Notify Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 380]
    }
  ],
  "connections": {
    "New Email": {
      "main": [[{ "node": "Extract Metadata", "type": "main", "index": 0 }]]
    },
    "Extract Metadata": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Claude Categorize", "type": "main", "index": 0 }]]
    },
    "Claude Categorize": {
      "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]]
    },
    "Parse Response": {
      "main": [[{ "node": "Route by Category", "type": "main", "index": 0 }]]
    },
    "Route by Category": {
      "main": [
        [{ "node": "Star Email", "type": "main", "index": 0 }],
        [{ "node": "Create Todoist Task", "type": "main", "index": 0 }],
        [{ "node": "Notify Calendar", "type": "main", "index": 0 }],
        [{ "node": "Archive Email", "type": "main", "index": 0 }],
        [{ "node": "Archive Spam", "type": "main", "index": 0 }],
        [{ "node": "Notify Error", "type": "main", "index": 0 }]
      ]
    },
    "Star Email": {
      "main": [[{ "node": "Notify Urgent", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "active": false
}
